<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="logs/server.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    <Socket name="Socket" host="localhost" port="5000">
      <JsonLayout compact="true" eventEol="true" />
    </Socket>
  </Appenders>
  <Loggers>
    <Root level="ERROR">
      <appender-ref ref="Console"/>
      <appender-ref ref="File"/>
      <appender-ref ref="Socket"/>
    </Root>
    <Logger name="org.springframework" level="DEBUG"/>
    <Logger name="com.nikolay" level="DEBUG"/>
  </Loggers>
</Configuration>