#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.jar
*.war
*.class
*.log
*.gz

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
*.attach*
.idea/

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag