.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

html {
  overflow-x: hidden;
}

.top-section-header {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  margin-top: 15px;
  margin-bottom: 20px;
}

.table .thead-dark th {
  font-size: 14px;
  text-transform: uppercase;
}

.link-menu {
  margin-top: 30px;
}

.top-section-header .btn {
  margin-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}

.table-buttons {
  text-align: center;
}

.none {
  display: none;
}

.btn-info {
  color: #fff !important;
}

.filter {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.choice {
  display: block;
}

.form-wrap {
  margin-top: 70px;
}

.form-wrap .form-group .form-input {
  display: block;
  min-width: 100%;
  width: 400px;
  min-height: 40px;
}

.form-wrap .form-group .btn {
  padding: 10px 50px;
}

.table .thead-dark th {
  text-align: center;
  vertical-align: middle;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

@media only screen and (max-width: 768px) {

  .table-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-left: 5px;
    display: block;
  }

  .top-section-header .btn {
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-wrap .form-group .form-input {
    display: block;
    width: 100px;
    min-height: 20px;
  }

  .form-wrap .form-group .btn {
    padding: 5px 20px;
  }

}


