<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

  <title>Department management</title>

  <link href="../../resources/static/css/bootstrap.min.css"
        rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
  <link href="../../resources/static/css/style.css"
        rel="stylesheet"
        th:href="@{/css/style.css}">

</head>

<body class="bg-light">

<header th:replace="fragments/header :: header"></header>

<section class="section" style="text-align: center;">
  <div class="title">
    <h1>Weclome to <br>MyCompany</h1>
  </div>
  <div class="link-menu">
    <a class="btn btn-primary" th:href="@{/departments}">Departments list</a>
    <a class="btn btn-primary" th:href="@{/employees}">Employees list</a>
  </div>
</section>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/js/jquery.min.js}"></script>

<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
